<div
  id="mySidenav"
  class="position-fixed top-0 start-0 mt-5"
  style="z-index: 1050"
>
  <!-- <a href="#" id="about" class="sidenav-link">About</a>
  <a href="#" id="blog" class="sidenav-link">Blog</a> -->
  <a href="/listings/new" id="projects" class="sidenav-link">Add Listings</a>
  <a href="/" id="contact" class="sidenav-link">Home</a>
</div>
