body {
  background-color: #252525;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  max-width: 600px;
  margin: auto;
}

.home-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #007BFF;
  text-decoration: none;
  border-radius: 5px;
}

.home-button:hover {
  background-color: #0056b3;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 1.5rem;
  color: #ddd;
  cursor: pointer;
  transition: color 0.2s;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #fbc02d;
}