body {
  background-color: #252525;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  max-width: 600px;
  margin: auto;
}

.home-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
}

.home-button:hover {
  background-color: #0056b3;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 1.5rem;
  color: #ddd;
  cursor: pointer;
  transition: color 0.2s;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #fbc02d;
}

.hover-filter {
  cursor: pointer;
  min-width: 80px;
  padding: 5px 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
  color: #333;
}

.hover-filter:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.hover-filter i {
  display: block;
  margin-bottom: 3px;
}

@media (max-width: 576px) {
  .hover-filter {
    min-width: 70px;
    font-size: 0.8rem;
  }

  .hover-filter i {
    font-size: 1rem !important;
  }
}

.d-flex.overflow-auto {
  overflow: auto;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
}

.d-flex.overflow-auto::-webkit-scrollbar {
  display: none;                /* Chrome, Safari and Opera */
}

.form-switch .form-check-input {
  width: 2.5em;
  height: 1.4em;
}

.form-switch .form-check-label {
  font-size: 0.9rem;
}

